@import "../../themes/default.module.css";

.Text {
  font-size: 1rem;
  color: $color-text-primary;
}

.TextGreen {
  font-size: 1rem;
  color: $color-text-green;
}

.TextBlue {
  font-size: 1rem;
  color: $color-text-blue;
}

.TitleWhiteExtraBig {
  font-size: 3rem;
  font-weight: 600;
  color: $primary-white;
}
